$grid-gutter-width: 40px !default;
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #0d2458 !default;
$brand-secondary: #0b4cac !default;
$brand-third: #0285ff !default;

$brand-fourth: #061b43 !default;
$brand-five: #05132d !default;
$brand-six: #040c1d !default;
$brand-seven: #105dce !default;

$brand-eight:#000026; 


$brand-shadow-color:#041e59 !default;
$brand-text-color:#ccc !default;


$brand-white: #fff;
$brand-black: #000;
$brand-dark: #191919;
$brand-gray: #666666;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;
$brand-orange: #ff6600;
$brand-orange-seconday: #ff6600;
$brand-yellow:#ffab00;
$brand-yellow2:#ffc439;
$brand-orange-dark:#702e02;


$brand-red: #e40126;
$brand-green: #00e837;
$brand-gold: gold;

$font-primary: 'Play', sans-serif;
$font-secondary:  'Rajdhani', sans-serif;

